<div>
  <h1>Upcoming Angular 2 Events</h1>
</div>
<hr />
<div class="row">

  <div *ngFor="let event of events" class="col-md-5">
    <!-- the variable event is visible within the Div -->

    <!-- whenever an eventClick is fired on the event-thumbnail component we need to call the handleEventClicked() method with data emmited-->
    <!-- <event-thumbnail
  (eventClick)="handleEventClicked($event)"
  [event]="event1"
></event-thumbnail> -->
    <!--
  Note : event is a property of the event-thumbnail and we are binding it to the event class variable/ property
-->
    <!-- <event-thumbnail *ngFor="let event of events" #thumbnail [event]="event"></event-thumbnail> -->
    <event-thumbnail #thumbnail (click)="handleThumbnailClick(event.name)" [event]="event"></event-thumbnail>
    <!-- <h3>{{ thumbnail.someProperty }}</h3> -->
  </div>
</div>
<button class="btn btn-primary" (click)="thumbnail.logFoo()">
  Log some foo ...
</button>

<!-- <div class="well hoverwell thumbnail">
  <h2>{{ event.name }}</h2>
  <div>Date: {{ event.date }}</div>
  <div>Time: {{ event.time }}</div>
  <div>Price: ${{ event.price }}</div>
  <div>
    <span>Location: {{ event.location.address }}</span>
    <span>&nbsp;</span>
    <span>{{ event.location.city }}, {{ event.location.country }}</span>
  </div>
</div> -->